<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>$title</title>
	<link rel="icon" type="image/x-icon" href=""> <!-- favicon icon -->
	<link rel="stylesheet" type="text/css" href="../static/css/style.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
	<div class="nav-container flex">
		<div class="website-name">Webfolio X</div>
		<div class="nav flex">
			<p>About</p>
			<p>Portfolio</p>
			<p>Contact</p>
			<p>Pages</p>
		</div>
	</div>

	<div class="intro-container">
		<div class="intro-head">
			I'm Manish, and I design<br><span id="user-inter">user Interfaces</span> for startups
		</div>
		<div class="line"></div>
		<div class="intro-body">
			Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cupiditate a, doloremque numquam architecto labore dignissimos ab quas. Hic tempore tempora 
		</div>
	</div>
	<hr class="hr-intro">
	<div class="project-intro">Past Project</div>
		<div class="project1-container flex">
			<div class="project1-about-container">
				<div class="project1-about">
					<p class="app-x">App X <span id="hypen">-</span> Web Design</p>
					<p class="project1-head">Website design for finance startup</p>
					<p class="project1-about">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ducimus accusantium consequatur minus excepturi beatae esse optio provident!</p>
					<div class="view-proj-container flex">
						<p class="view-project">View Project</p>
						<img src="../static/assets/images/arrow.png" class="arrow">
					</div>
				</div>
			</div>

			<div class="project1-image-container">
				<img src="../static/assets/images/1.png" alt="" class="project-image">
			</div>
		</div>

		<div class="project1-container flex project2-container">
			<div class="project1-about-container project2-about">
				<div class="project1-about">
					<p class="app-x">Technology<span>-</span>Branding</p>
					<p class="project1-head">Brand refresh for Technology app</p>
					<p class="project1-about">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ducimus accusantium consequatur minus excepturi beatae esse optio provident!</p>
					<div class="view-proj-container flex">
						<p class="view-project">View Project</p>
						<img src="../static/assets/images/arrow.png" class="arrow">
					</div>
				</div>
			</div>

			<div class="project1-image-container project3-container">
				<img src="../static/assets/images/2.png" alt="" class="project-image">
			</div>
		</div>
	
		<div class="project1-container flex">
			<div class="project1-about-container project3-about">
				<div class="project1-about">
					<p class="app-x">Consulting X <span>-</span> Web Design</p>
					<p class="project1-head">Website design for Consulting X</p>
					<p class="project1-about">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ducimus accusantium consequatur minus excepturi beatae esse optio provident!</p>
					<div class="view-proj-container flex">
						<p class="view-project">View Project</p>
						<img src="../static/assets/images/arrow.png" class="arrow">
					</div>
				</div>
			</div>

			<div class="project1-image-container project">
				<img src="../static/assets/images/3.png" alt="" class="project-image">
			</div>
		</div>
	
		<div class="project1-container flex">
			<div class="project1-about-container project4-about">
				<div class="project1-about">
					<p class="app-x">Education X<span>-</span> Illustraion</p>
					<p class="project1-head">Illulstration design for Education X</p>
					<p class="project1-about">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ducimus accusantium consequatur minus excepturi beatae esse optio provident!</p>
					<div class="view-proj-container flex">
						<p class="view-project">View Project</p>
						<img src="../static/assets/images/arrow.png" class="arrow">
					</div>
				</div>
			</div>

			<div class="project1-image-container">
				<img src="../static/assets/images/4.png" alt="" class="project-image">
			</div>
		</div>
	
		<div class="browse-portfolio">Browse Portfolio</div>
		<hr class="hr-intro">

		<div class="flex-container">
			<div class="flex model">
			<div class="project1-about-container">
				<div class="project1-about">
					<p class="project1-head model-head">Who is behing all this great work?</p>
					<p class="project1-about model-about">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ducimus accusantium</p>
					<div class="view-proj-container flex">
						<p class="view-project model-about-me">About me</p>
						<img src="../static/assets/images/arrow.png" class="arrow">
					</div>
				</div>
			</div>

			<div class="project1-image-container model-img-container">
				<img src="../static/assets/images/model.jpeg" alt="" class="model-img">
			</div>
		</div>
		</div>
		
		<hr class="hr-intro">

		<div class="work-skill">
			<div class="head flex">
				<p class="my-work-skill">My work skill</p>
				<div class="browse-resume-container flex">
					<p class="browse-resume">Browse resume</p>
					<img src="../static/assets/images/arrow.png" class="resume-arrow">
				</div>
			</div>
		</div>

		<div class="work-container">
			<div class="top-layer-container flex">
				<div class="top-layer">
					<img src="../static/assets/images/w1.png" alt="" class="work-images">
					<p class="work-title">UI/UX Design</p>
					<p class="work-content">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officia nulla placeat, pariatur ex ratione minus.</p>
				</div>
				<div class="top-layer">
					<img src="../static/assets/images/w2.png" alt="" class="work-images">
					<p class="work-title">UI/UX Design</p>
					<p class="work-content">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officia nulla placeat, pariatur ex ratione minus.</p>
				</div>
				<div class="top-layer">
					<img src="../static/assets/images/w3.png" alt="" class="work-images">
					<p class="work-title">UI/UX Design</p>
					<p class="work-content">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officia nulla placeat, pariatur ex ratione minus.</p>
				</div>
			</div>
			<div class="bottom-layer-container flex">
				<div class="bottom-layer">
					<img src="../static/assets/images/w4.png" alt="" class="work-images">
					<p class="work-title">UI/UX Design</p>
					<p class="work-content">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officia nulla placeat, pariatur ex ratione minus.</p>
				</div>
				<div class="bottom-layer">
					<img src="../static/assets/images/w5.png" alt="" class="work-images">
					<p class="work-title">UI/UX Design</p>
					<p class="work-content">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officia nulla placeat, pariatur ex ratione minus.</p>
				</div>
				<div class="bottom-layer">
					<img src="../static/assets/images/w6.png" alt="" class="work-images">
					<p class="work-title">UI/UX Design</p>
					<p class="work-content">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officia nulla placeat, pariatur ex ratione minus.</p>
				</div>
			</div>
		</div>

		<hr class="hr-intro">
		<div class="article-container">
			<div class="article-head flex">
				<p class="my-work-skill">Article & News</p>
				<div class="bm-container flex">
					<p class="browse-more">Browse More Articles</p>
					<img src="../static/assets/images/arrow.png" class="resume-arrow">
				</div>
			</div>

			<div class="nb-container flex">
				<div class="nbf-container flex">
					<div class="news-about">
						<div class="date">Design - September 1, 2022</div>	
						<div class="n-about">What did I learn from doing 50+ design sprints?</div>
					</div>
				</div>
				<div class="nb-image-container">
					<img src="../static/assets/images/a1.png" class="nb-image" alt="" width="800" height="400">
				</div>
			</div>
			<hr class="nb-hr-intro">

			<div class="nb-container flex">
				<div class="nbf-container flex">
					<div class="news-about">
						<div class="date">Design - September 1, 2022</div>	
						<div class="n-about">What did I learn from doing 50+ design sprints?</div>
					</div>
				</div>
				<div class="nb-image-container">
					<img src="../static/assets/images/a2.png" class="nb-image" alt="" width="800" height="400">
				</div>
			</div>
			<hr class="nb-hr-intro">
		</div>

		<div class="contact flex">
			<div class="contact-about-cont">
				<div class="contact-title my-work-skill">Interested in working together?<br><span contact-title-span>Get in touch today. </span></div>
				<div class="contact-about">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolorem, earum. Consequuntur molestias architecto perferendis quisquam?</div>
			</div>
			<img src="../static/assets/images/more-arrow.png" alt="" class="more-arrow">
		</div>
		<hr>

		<div class="summary-container flex">
			<div class="cont-1">
				<div class="cont-h2">Webfolio X</div>
				<div class="cont-1-about">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Assumenda reiciendis deserunt dolorum at doloremque distinctio saepe praesentium architecto et! Temporibus.</div>
				<input type="text" id="mail-input" placeholder="Enter your email">
				<div class="subscribe">Subscribe</div>
			</div>
			<div class="cont-2 flex">
				<div class="sub-cont-1">
					<div class="menu">Menu</div>
					<div class="home">Home V1</div>
					<div class="home">Home V2</div>
					<div class="home">Home V3</div>
					<div class="home">About V1</div>
					<div class="home">About V2</div>
					<div class="home">About V3</div>
				</div>
				<div class="sub-cont-2">
					<div class="blog">Blog V1</div>
					<div class="blog">Blog V2</div>
					<div class="blog">Blog V3</div>
					<div class="blog">Blog Post</div>
					<div class="blog">Shop</div>
					<div class="blog">Product</div>
				</div>
				<div class="sub-cont-3">
					<div class="sellout">Portfolio</div>
					<div class="sellout">Case Study</div>
					<div class="sellout">Past clients</div>
					<div class="sellout">Newsletter</div>
					<div class="sellout">Contact</div>
				</div>
			</div>
			<div class="cont-3">
				<div class="utility">Utility Pages</div>
				<div class="utility-topics">Start here</div>
				<div class="utility-topics">Style Guide</div>
				<div class="utility-topics">404 Not Found</div>
				<div class="utility-topics">Password Protected</div>
				<div class="utility-topics">Licenses</div>
				<div class="utility-topics">Changelog</div>
				<div class="utility utility-topics">More Templates</div>
			</div>
		</div>
		<hr class="hr-intro">
		<footer class="flex">
			<div class="copyright">
				Copyright <i class="fa fa-copyright" aria-hidden="true"></i> Webfolio X | Made by <span class="mh">Manish Malhotra</span>
			</div>
			<div class="logos">
				<i class="fa fa-facebook" aria-hidden="true"></i>
				<i class="fa fa-twitter" aria-hidden="true"></i>
				<i class="fa fa-instagram" aria-hidden="true"></i>
				<i class="fa fa-linkedin" aria-hidden="true"></i>
				<i class="fa fa-youtube-play" aria-hidden="true"></i>
				<i class="fa fa-dribbble" aria-hidden="true"></i>
				<i class="fa fa-behance" aria-hidden="true"></i>
			</div>
		</footer>
	
</body>
</html>