

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: Helvetica; 
	--primary-font-family: ;
	--primary-font-color: black;
	--primary-bg-color: ;
	--small-font-weight: ;
	--medium-font-weigth: ;
	--large-font-weight: ;
	--primary-font-size: ;
}

.flex {
	display: flex;
}
/* -------------------------------------------------------------nav------------------------------------------------------ */
.nav-container {
	justify-content: space-between;
	max-width: 1400px;
	margin: 0 auto;
	margin-top: 4vh;
	padding: 0 5vw;
	color: var(--primary-font-color);
}

.website-name {
	font-weight: 700;
	font-size: 1.8rem;
}

.nav p {
	margin-left: 2vw;
	font-size: 1.2rem;
}

/* --------------------------------------------------------------intro---------------------------------------------- */
.intro-container {
	max-width: 1400px;
	margin: 0 auto;
	padding: 25vh 5vw;
	color: var(--primary-font-color);
}

.intro-head {
	font-size: 4rem;
}

#user-inter {
	color: black;
	border-bottom: 5px solid black;	
	padding-bottom: 1vh;
}

.intro-body {
	font-size: 1.5rem;
	margin-top: 4vh;
	width: 40vw;
	opacity: .5;
	line-height: 4vh;
}

.hr-intro {
	max-width: 1200px;
	margin: 0 auto;
	opacity: .5;
}

hr {
	opacity: .3;
}

.project-intro {
	max-width: 1400px;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	font-size: 3rem;
	padding-top: 20vh;
}

/* ------------------------------------------------------project1------------------------------------------------- */
.project1-container {
	justify-content: space-between;
	object-fit: cover;
	max-width: 1400px;
	max-height: 650px;
	margin: 0 auto;
	border: 1px solid rgba(0, 0, 0, .2);
	transition-duration: .5s;
	margin: 6vh 10vw;
}

.area-container {
	max-width: 1400px;
	margin: 0 auto;
}

.project1-container:hover {
	-ms-transform: scale(.9); /* IE 9 */
	-webkit-transform: scale(.9); /* Safari 3-8 */
	transform: scale(.95); 
}

.project1-container:hover .project-image {
	-ms-transform: scale(1.1); /* IE 9 */
	-webkit-transform: scale(1.1); /* Safari 3-8 */
	transform: scale(1.1); 
}

.flex-container {
	display: flex;
	justify-content: center;
}

.project1-about-container {
	display: flex;
	align-items: center;
	padding-left: 2vw;
}

.app-x {
	font-size: 1.2rem;
	font-size: 700;
}

#hypen {
	margin: 0 1vw;
	opacity: .4;
}

.project1-head {
	font-size: 1.5rem;
	font-weight: 700;
	margin-top: 2vh;
}

.project1-about {
	font-size: 1.2rem;
	margin-top: 4vh;
	width: 35vw;
	opacity: .7;
}

.view-project {
	margin-top: 7vh;
	font-weight: 700;
}

.project1-image-container {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgb(253, 235, 247);
	padding: 8vh 3vw;
}

.project-image {
	width: 520px;
	height: 470px;
	transition-duration: .5s;
}

/* .project-image:hover { */
	/* -ms-transform: scale(1.1); IE 9 */
	/* -webkit-transform: scale(1.1); Safari 3-8 */
	/* transform: scale(1.1);  */
/* } */

.project1-image-container img:hover {
	/* height: 450px; */
	/* width: 550px; */
}

.view-project {
	border-bottom: 3px solid black;
	padding-bottom: 2vh;
	width: 8vw;
}

.arrow {
	height: 15px;
	margin-top: 7.5vh;
	margin-left: .5vw;
}

.browse-portfolio {
	font-size: 2rem;
	margin-top: 7vh;
	margin-bottom: 20vh;
	font-weight: 700;
	display: flex;
	justify-content: center;
}

.model {
	border: none;
	margin-top: 20vh;
	margin-bottom: 10vh;
}

.model-img {
	width: 100%;
	height: 100%;
	width: 520px;
	height: 700px;
}

.model-img-container {
	background-color: white;
	margin-bottom: 15vh;
}

.model-about-me {
	border-bottom: none;
	font-size: 1.5rem;
}

.model-head {
	font-size: 3rem;
}

.model-about {
	font-size: 1.5rem;
}

/* ---------------------------------------------------work------------------------------------------------------- */
.work-skill {
	max-width: 1400px;
	margin: 0 auto;
	margin-top: 15vh;
	padding-left: 6vw;	
}

.head {
	justify-content: space-between;
}

.my-work-skill {
	font-size: 3rem;
	font-weight: 700;
}

.browse-resume {
	font-size: 1.5rem;
	font-weight: 700;
	margin-right: 1vw;
	margin-top: 3vh;
}

.resume-arrow {
	height: 25px;
	margin-right: 7vw;
	margin-top: 3vh;
}

.work-images {
	height: 15vh;
}

.work-title {
	font-size: 1.6rem;
	font-weight: 600;
	margin-top: 3vh;
}

.work-content {
	opacity: .7;
	max-width: 20vw;
	margin-top: 3vh;
}

.top-layer-container, .bottom-layer-container {
	justify-content: space-between;
	margin-left: 10vw;
	margin-right: 10vw;
	margin-top: 10vh;
}

.top-layer, .bottom-layer {
	border-bottom: 2px solid black;
	padding-bottom: 5vh;
}

.bottom-layer-container {
	margin-bottom: 15vh;
}

/* --------------------------------------------------------------article-------------------------------------- */
.article-container {
	margin-top: 20vh;
	margin: 20vh 5vw 5vh 10vw;
}
.browse-more {
	font-size: 1.5rem;
	font-weight: 700;
	margin-top: 3vh;
	margin-right: 1vw;
}

.article-head {
	justify-content: space-between;
}

.nb-container {
	justify-content: space-between;
	margin: 10vh 7vw 20vh 0vw;
}

.nb-image-container {
	object-fit: cover;
	width: 45vw;
	height: 50vh;
	overflow: hidden;
}

.nb-image:hover {
	-ms-transform: scale(1.15); /* IE 9 */
	-webkit-transform: scale(1.15); /* Safari 3-8 */
	transform: scale(1.15); 
}

.nb-image {
	width: 100%;
	height: 100%;
	transition-duration: .5s
}

.nbf-container {
	align-items: center;
}

.date {
	font-size: 1.2rem;
	font-weight: 600;
	opacity: .6;
}

.n-about {
	font-size: 1.7rem;
	margin-top: 3vh;
	font-weight: 700;
	max-width: 29vw 
}

.nb-hr-intro {
	margin-right: 7vw;
}

.contact-about {
	font-size: 1.4rem;
	opacity: .6;
	margin-top: 3vh;
}

.contact {
	margin: 20vh 10vw 20vh 10vw
}

.more-arrow {
	padding-left: 15vw;
	height: 130px;
	margin-top: 8vh;
}

/* ----------------------------------------------------------------summary-container------------------------------------------- */
.summary-container {
	margin: 15vh 10vw 15vh 10vw;
}

.cont-h2 {
	font-size: 2rem;
	font-weight: 700;
}

.cont-1-about {
	font-size: 1.1rem;
	opacity: .6;
	max-width: 26vw;
	margin-top: 2vh;
}

#mail-input {
	margin-top: 7vh;
	width: 26vw;
	border: none;
	border-bottom: 1px solid black;
	padding-bottom: 2vh;
	padding-top: 1vh;
}

#mail-input::placeholder {
	font-size: 1.2rem;
}

#mail-input:focus{
	border: none;
}

.subscribe {
	font-size: 1.3rem;
	font-weight: 700;
	margin-top: 4vh;
}

.cont-2 {
	margin-left: 3vw;
	font-size: 1.2rem;
}

.menu {
	font-weight: 700;
}

.home {
	margin-top: 3vh;
}

.sub-cont-2 , .sub-cont-3 {
	margin-left: 2vw;
	margin-top: 3vh;
}

.blog, .sellout {
	margin-top: 3vh
}

.utility {
	font-weight: 700;
	font-size: 1.2rem;
}

.cont-3 {
	margin-left: 8vw;
}

.utility-topics {
	margin-top: 3vh;
	font-size: 1.2rem;
}

.utility-topics:nth-child(8) {
	border-bottom: 3px solid black;
	padding-bottom: 1vh;
}

footer {
	justify-content: space-between;
	margin: 5vh 10vw;
}

.copyright {
	font-size: 1.2rem;
	opacity: .7;
}

.mh {
	border-bottom: 2px solid black;
	opacity: 1!important;
	color: black;
}

.logos i {
	font-size: 1.5rem;
	margin-left: 1vw;
}